<div class="content">
  <h1>Manutenções concluídas</h1>
  <table>
    <thead>
      <tr>
        <th>Placa</th>
        <th>Descrição</th>
        <th>KM</th>
        <th>Finalização</th>
      </tr>
    </thead>
    <tbody>
      <tr routerLink="details/{{ item.id }}" onmouseover="style.backgroundColor='rgb(235, 235, 235)'" onmouseout="style.backgroundColor='white'" *ngFor="let item of manutencoes">
        <td class="row-item">{{ item.veiculo.placa }}</td>
        <td class="row-item">{{ item.descricao }}</td>
        <td class="row-item">{{ item.km_manutencao }}</td>
        <td class="row-item">{{ item.data_finalizacao | date: "dd/MM/yyyy" }}</td>
      </tr>
    </tbody>
  </table>
</div> 