<div class="content">
    <h1 class="title">Criar Manutenção</h1>
    <div class="details-veiculo">
        <div class="center-details-veiculos">
            <h2>Placa {{ veiculo.placa }}</h2>
            <div>Modelo {{ veiculo.modelo }}</div>
            <div>Fabricação {{ veiculo.fabricacao }} Ano {{ veiculo.ano }}</div>
            <div>Tipo {{ veiculo.tipo }}</div>
            <div>Chassi {{ veiculo.chassi }}</div>
            <div>Km Atual {{ veiculo.km }}</div>
        </div>
        <div class="center-details-veiculos">
            <mat-label>Selecione um veículo</mat-label>
            <mat-select [(ngModel)]="veiculo" name="item">
                <mat-option *ngFor="let item of veiculos" [value]="item">
                    {{item.placa}}
                </mat-option>
            </mat-select>
        </div>
    </div>
    <p class="title">Descrição</p>
    <textarea class="descricao" [value]=""></textarea>
    <div class="outros-detalhes">
        <div class="outros-detalhes-content">Status
            <mat-select name="item">
                <mat-option *ngFor="let item of listStatus" [value]="item">
                    {{item}}
                </mat-option>
            </mat-select>
        </div>
        <div class="outros-detalhes-content">Prioridade
            <mat-select name="item" [style.backgroundColor]="">
                <mat-option *ngFor="let item of listPrioridade" [value]="item">
                    {{item}}
                </mat-option>
            </mat-select>
        </div>
    </div>
    <div class="outros-detalhes">
        <div class="outros-detalhes-content">
            Data início <input type="date" [value]="" disabled>
        </div>
        <div class="outros-detalhes-content">
            Previsão <input type="date" [value]="">
        </div>
    </div>
    <p class="title">Orçamento</p>
    <div class="orcamento">
        <div class="alieng">
            Valor serviços
            <p>
                <input type="number">
            </p>
            Valor peças
            <p>
                <input type="number">
            </p>
        </div>
        <div class="alieng">
            Valor total
            <p>
                <input type="number" disabled>
            </p>
            Condição de pagamento
            <p>
                <textarea name="" id="" cols="0" rows="0"></textarea>
            </p>
        </div>
    </div>
    <p>
        <button mat-raised-button>Salvar</button>
        <button (click)="cancel()" mat-raised-button>Cancelar</button>
    </p>
    <p>
        <button mat-raised-button color="primary">Concluir manutenção</button>
        <button mat-raised-button color="warn">Deletar manutenção</button>
    </p>
</div>