.content {
    background-color: white;
    margin: 1rem auto;
    width: 90%;
    border-radius: 5px;
    text-align: center;
}

.title {
    padding-top: .5rem;
    margin-bottom: 2px;
}

.details-veiculo {
    width: 90%;
    margin: auto;
    border: 1px solid;
    border-radius: 2px;
    display: inline-flex;
}

.center-details-veiculos {
    margin: auto;
}

@media(max-width: 400px) {
    mat-form-field{
        width: 20%;
        color: transparent;
    }
}

h2 {
    margin: 0px;
}

.descricao {
    width: 90%;
    margin: auto;
    border-radius: 2px;
    text-align: left;
    background-color: rgb(238, 238, 238);
}

.outros-detalhes {
    width: 90%;
    margin: auto;
    display: flex;
}

.outros-detalhes-content {
    padding-top: 10px;
    width: 40%;
    margin: auto;
}

mat-select{
    border: .5px solid;
    border-radius: 2px;
}

.orcamento {
    width: 90%;
    margin: auto;
    border: 1px solid;
    display: inline-flex;
}

p{
    margin-bottom: 0px;
}

.alieng{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

input{
    width: 90%;
    text-align: center;
}

button {
    width: 20%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px ;
    text-align: center;
}