<div class="content">
    <h1>Fazendo</h1>
    <mat-list *ngFor="let item of manutencoesFazendo">
            <mat-card routerLink = "details/{{ item.id }}" onmouseover="style.backgroundColor='rgb(235, 235, 235)'" onmouseout="style.backgroundColor='white'">
                <mat-card-title > 
                    {{ item.veiculo.placa }} <div class="prioridadeCard" [style.backgroundColor]="changeColorPrioridade(item.prioridade)"></div>
                </mat-card-title>
                <mat-card-subtitle> Previsão {{ item.data_previsao  | date:"dd/MM/yyyy"}} </mat-card-subtitle>
                <mat-card-content> {{ item.descricao }} </mat-card-content>
            </mat-card> 
    </mat-list>

    <h1>A Fazer</h1>
    <mat-list *ngFor="let item of manutencoesAFazer">
        <mat-card routerLink = "details/{{ item.id }}" onmouseover="style.backgroundColor='rgb(235, 235, 235)'" onmouseout="style.backgroundColor='white'">
                <mat-card-title > 
                    {{ item.veiculo.placa }} <div class="prioridadeCard" [style.backgroundColor]="changeColorPrioridade(item.prioridade)"></div>
                </mat-card-title>
                <mat-card-subtitle> Previsão {{ item.data_previsao  | date:"dd/MM/yyyy"}} </mat-card-subtitle>
                <mat-card-content> {{ item.descricao }} </mat-card-content>
            </mat-card> 
    </mat-list>

    <h1>Em Análise</h1>
    <mat-list *ngFor="let item of manutencoesAnalise">
        <mat-card routerLink = "details/{{ item.id }}" onmouseover="style.backgroundColor='rgb(235, 235, 235)'" onmouseout="style.backgroundColor='white'">
                <mat-card-title > 
                    {{ item.veiculo.placa }} <div class="prioridadeCard" [style.backgroundColor]="changeColorPrioridade(item.prioridade)"></div>
                </mat-card-title>
                <mat-card-subtitle> Previsão {{ item.data_previsao  | date:"dd/MM/yyyy"}} </mat-card-subtitle>
                <mat-card-content> {{ item.descricao }} </mat-card-content>
            </mat-card> 
    </mat-list>

    <h1>Aguardando</h1>
    <mat-list *ngFor="let item of manutencoesAguardando">
        <mat-card routerLink = "details/{{ item.id }}" onmouseover="style.backgroundColor='rgb(235, 235, 235)'" onmouseout="style.backgroundColor='white'">
                <mat-card-title > 
                    {{ item.veiculo.placa }} <div class="prioridadeCard" [style.backgroundColor]="changeColorPrioridade(item.prioridade)"></div>
                </mat-card-title>
                <mat-card-subtitle> Previsão {{ item.data_previsao  | date:"dd/MM/yyyy"}} </mat-card-subtitle>
                <mat-card-content> {{ item.descricao }} </mat-card-content>
            </mat-card> 
    </mat-list>
</div>