.content {
    width: 97%;
    margin: .8rem auto;
}

h1 {
    text-align: center;
    background-color: rgb(91, 158, 235);
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
}

mat-card {
    margin-left: 5px;
}

mat-list {
    display: inline-flex;
}
